Nodexml2json.json
[{"id":"0a61645eeb1cbf3e","type":"tab","label":"Flux 2","disabled":false,"info":"","env":[]},{"id":"1adf407d.6c4fe","type":"debug","z":"0a61645eeb1cbf3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":400,"wires":[]},{"id":"1746464a.87aa4a","type":"xml","z":"0a61645eeb1cbf3e","name":"","property":"payload","attr":"A","chr":"","x":310,"y":100,"wires":[["a4c2c87ccf0e9eb4"]]},{"id":"ec57d69877a03997","type":"mqtt in","z":"0a61645eeb1cbf3e","name":"from rocrail","topic":"rocrail/service/command","qos":"0","datatype":"auto-detect","broker":"baadf518df36d89c","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":100,"wires":[["1746464a.87aa4a"]]},{"id":"39b03e9ca645f636","type":"mqtt out","z":"0a61645eeb1cbf3e","name":"to the modern world","topic":"train/rocrail/command","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"baadf518df36d89c","x":1140,"y":120,"wires":[]},{"id":"2a20f54bcbbf9b52","type":"function","z":"0a61645eeb1cbf3e","name":"co","func":"var sujet=msg.payload;\nvar type=msg.payload.type;\nmsg.payload=sujet.co.A;\nmsg.payload.type=type;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":160,"wires":[["39b03e9ca645f636"]]},{"id":"4dd17141b247bb0f","type":"switch","z":"0a61645eeb1cbf3e","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"lc","vt":"str"},{"t":"eq","v":"fn","vt":"str"},{"t":"eq","v":"clock","vt":"str"},{"t":"eq","v":"state","vt":"str"},{"t":"eq","v":"sys","vt":"str"},{"t":"eq","v":"co","vt":"str"},{"t":"eq","v":"sw","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":600,"y":100,"wires":[["417a2db28ec57963"],["abcac7ae55da895d"],[],[],["fe9287fcd536579c"],["2a20f54bcbbf9b52"],["6e40880e95007614"]]},{"id":"a4c2c87ccf0e9eb4","type":"function","z":"0a61645eeb1cbf3e","name":"quel objet","func":"var jObj=msg.payload;\nmsg.payload.type=Object.keys(jObj)[0];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":100,"wires":[["4dd17141b247bb0f"]]},{"id":"6e40880e95007614","type":"function","z":"0a61645eeb1cbf3e","name":"sw","func":"var sujet=msg.payload;\nvar type=msg.payload.type;\nmsg.payload=sujet.sw.A;\nmsg.payload.type=type;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":200,"wires":[["39b03e9ca645f636"]]},{"id":"fe9287fcd536579c","type":"function","z":"0a61645eeb1cbf3e","name":"sys","func":"var sujet=msg.payload;\nvar type=msg.payload.type;\nmsg.payload=sujet.sys.A;\nmsg.payload.type=type;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":120,"wires":[["39b03e9ca645f636"]]},{"id":"d962f66d3bd590f3","type":"xml","z":"0a61645eeb1cbf3e","name":"","property":"payload","attr":"A","chr":"","x":310,"y":280,"wires":[["35196c9079efb20e"]]},{"id":"6c442fb70888391f","type":"mqtt in","z":"0a61645eeb1cbf3e","name":"from rocrail","topic":"rocrail/service/info","qos":"0","datatype":"auto-detect","broker":"baadf518df36d89c","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":280,"wires":[["d962f66d3bd590f3"]]},{"id":"3bd4d7bd9d10a80b","type":"switch","z":"0a61645eeb1cbf3e","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"lc","vt":"str"},{"t":"eq","v":"fn","vt":"str"},{"t":"eq","v":"clock","vt":"str"},{"t":"eq","v":"state","vt":"str"},{"t":"eq","v":"sys","vt":"str"},{"t":"eq","v":"co","vt":"str"},{"t":"eq","v":"sw","vt":"str"},{"t":"eq","v":"auto","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":600,"y":280,"wires":[[],[],[],[],[],[],[],["11fec7f2440e764d"]]},{"id":"35196c9079efb20e","type":"function","z":"0a61645eeb1cbf3e","name":"quel objet","func":"var jObj=msg.payload;\nmsg.payload.type=Object.keys(jObj)[0];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["3bd4d7bd9d10a80b"]]},{"id":"11fec7f2440e764d","type":"function","z":"0a61645eeb1cbf3e","name":"auto","func":"var sujet=msg.payload;\nvar type=msg.payload.type;\nmsg.payload=sujet.auto.A;\nmsg.payload.type=type;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":320,"wires":[["39b03e9ca645f636"]]},{"id":"417a2db28ec57963","type":"function","z":"0a61645eeb1cbf3e","name":"lc","func":"var sujet=msg.payload;\nvar type=msg.payload.type;\nmsg.payload=sujet.lc.A;\nmsg.payload.type=type;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":40,"wires":[["39b03e9ca645f636"]]},{"id":"abcac7ae55da895d","type":"function","z":"0a61645eeb1cbf3e","name":"fn","func":"var sujet=msg.payload;\nvar type=msg.payload.type;\nmsg.payload=sujet.fn.A;\nmsg.payload.type=type;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":80,"wires":[["39b03e9ca645f636","1adf407d.6c4fe"]]},{"id":"baadf518df36d89c","type":"mqtt-broker","name":"ha","broker":"10.4.200.220","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]